.container {
  display: block;
  cursor: pointer;
  padding: 2rem;
  border: 1px solid var(--ifm-color-emphasis-200);
  background-color: var(--background-panels);
  border-radius: 4px;
  /* box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08); */
  color: var(--text-content);
  text-decoration: none;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container img {
  box-shadow: 0px 0px 0px;
}

.container:hover {
  text-decoration: none;
  color: var(--text-content);
  box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.01),
    0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.02);
}

.container:hover .linkTextContainer {
  color: var(--text-link);
  transition: color 200ms;
}

.container:hover .linkTextContainer .rightArrow {
  transform: translateX(4px) scale(1.2);
  transition: transform 200ms;
}

.container:hover .linkTextContainer {
  transition: transform 200ms;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.title:hover {
  text-decoration: none;
}

.description {
  margin-bottom: 0;
  font-size: 0.875rem;
}

.linkTextContainer {
  font-size: 0.813rem;
  margin-top: 24px;
  position: relative;
  transition: 400ms color;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.rightArrow {
  position: absolute;
  transition: transform 400ms;
  margin-left: 4px;
}
